@import url('https://fonts.googleapis.com/css2?family=Stalemate&display=swap');

@import 'base/variables';
@import 'base/mixins';

@import 'blocks/promo';
@import 'blocks/header.scss';
@import 'blocks/buttons';
@import 'blocks/advantages';
@import 'blocks/titles';
@import 'blocks/consultation';
@import 'blocks/forms';
@import 'blocks/slider';
@import 'blocks/timer';
@import 'blocks/catalog';
@import 'blocks/feed';
@import 'blocks/calc';

* {
	margin: 0;
	border: 0;
    font-family: 'Museo Sans Cyrl', sans-serif;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 1rem;
}

input,button,textarea{font-family:inherit;}

button{cursor: pointer;}
button::-moz-focus-inner {border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}

.container {
    max-width: 950px;
    margin: 0 auto;
}

