.footer {
    min-height: 150px;
    background-color: $dark;
    padding: 45px 10px 50px 10px;
    color: #fff;

    &__logo-img {
        width: 45%;
        border-radius: 100%;
        cursor: pointer;
    }

    &__logo_text{
        font-family: 'Stalemate', cursive;
        color: #fff;
        font-size: 2.5rem;
    }

    &__social-img{
        width: 25px;
        height: 25px;
        margin-right: 8%;
        margin-top: 2%;
    }
    .container {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .subtitle {
        font-size: 20px;
    }
    .link {
        color: #fff;
        font-size: 14px;
    }
    .call {
        text-align: right;
        line-height: 20px;
        font-size: 3rem;
    }
}

@media (max-width: 768px) {
    .footer {
        &__logo-img {
            width: 25%;
            margin-left: 7%;
        }
    }
}

@media (max-width: 576px) {
    .footer {
        min-height: 110px;
        padding: 1.5%;
        &__logo-img {
            width: 20%;
        }
        .subtitle {
            font-size: 16px;
            margin-bottom: 2%;
        }
        .link {
            color: #fff;
            font-size: 14px;
        }
        .call {
            font-size: 16px;
            
        }
    }
}